{% include "layout/nav.html" %}
{% load static %}

<Title>About | Simply Weather</Title>

<style>
    h1, p {
        font-weight: bold;
    }
</style>
<div class="container mt-5">
<h1>about</h1>
<p>This is a simple weather app created by Colbe Roberson. Below you can find links to links to some of my personal stuff, as well as the link to the github repo. Thanks for visiting.</p>
<a class="mx-1" target="_blank" rel="noopener noreferrer" href="https://github.com/cgr28">github</a>
<a class="mx-1" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/colbe-roberson-a01734221/">linkedin</a>
<a class="mx-1" target="_blank" rel="noopener noreferrer" href="https://medium.com/@roberson.colbe_91639" class="mx-2">medium</a>
<a class="mx-1" target="_blank" rel="noopener noreferrer" href="mailto: cgr28@njit.edu" class="mx-2">email</a>
</div>
