{% load static %}

<div id="footer" class="footer p-4 text-center">
<div class="container">
    <a target="_blank" rel="noopener noreferrer" href="mailto: cgr28@njit.edu" class="mx-2"><img class="footer-img" id="github" height="40" width="40" src="{% static 'layout/images/mail.svg' %}"></a>
    <img class="mx-2" height="40" width="40" src="{% static 'layout/images/secondary-logo-dark.svg' %}">
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/cgr28"><img id="mail" height="40" width="40" src="{% static 'layout/images/github.svg' %}"></a>
</div>
</div>

<style>
    #footer {
        height:auto;
    }
    .footer {
    height:70px;
    clear:both;
    position:relative;
    bottom:0;
    width: 100%;
    }
</style>