{% load static %}

<div id="footer" class="footer p-4 text-center">
<div class="container">
    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/colbe-roberson-a01734221/"><img height="25" width="25" src="{% static 'layout/images/linkedin.svg' %}"></a>
    <img class="mx-2" height="25" width="25" src="{% static 'layout/images/secondary-logo-dark.svg' %}">
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/cgr28"><img height="25" width="25" src="{% static 'layout/images/github.svg' %}"></a>
</div>
</div>

<style>
    #footer {
        height:auto;
    }
    .footer {
    height:70px;
    clear:both;
    position:relative;
    bottom:0;
    width: 100%;
    }
</style>